{% extends 'base.html' %}
{% block title %}Vision & Mission | NITPY Alumni{% endblock %}

{% block content %}
<!-- Vision and Mission Section -->
<section class="py-5 bg-white">
    <div class="container">
        <h2 class="text-center fw-bold mb-5">Our Vision & Mission</h2>
        
        <div class="row align-items-center mb-5">
            <div class="col-md-6 order-md-2">
            </div>
            <div class="col-md-6 order-md-1">
                <h3 class="fw-semibold">Vision</h3>
                <p class="lead text-muted mt-3">
                    "To cultivate a dynamic and innovative alumni network that inspires lifelong engagement,
                    drives global impact, and champions the values of our alma mater."
                </p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                <h3 class="fw-semibold">Mission</h3>
                <p class="lead text-muted mt-3">
                    “Our mission is to ignite the power of our alumni network through pioneering programs,
                    enriching experiences, and strategic collaborations. We aim to foster enduring connections,
                    advance career and personal growth, and champion a legacy of giving back and global leadership.”
                </p>
            </div>
        </div>

    </div>
</section>
{% endblock %}
