SECRET_KEY=
DEBUG=false
DATABASE_URL=
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@nitpyalumni.com
DJANGO_SUPERUSER_PASSWORD=
EMAIL_HOST=mail.nitpy.ac.in
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
MONGODB_URI=
GEOCODING_API_KEY=
CF_API_TOKEN=
CF_ZONE_ID=
STAFF_ALERT_EMAILS=
